.TimeDialog__container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    gap: 10px;
}

.TimeDialog__button {
    min-height: 50px;
    background-color: #0011ff;
    color: white;
    border: 1px solid #010cad;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .TimeDialog__container {
        width: 400px;
    }   
}